h1 {
	background-color: #42AFFF;
	border: 0.05em solid black;
	font-family: Arial;
	font-size: 2em;
	margin: 0;
	padding-left: 2em;
}

h2 {
	font-family: Arial;
	font-size: 1.5em;
}

li {
	list-style: none;
}

nav {
	margin: 3em;
	text-align: center;
}

td {
	font-family: Arial;
	font-size: 1em;
	text-align: center;
}

th {
	font-family: Arial;
	font-size: 1em;
	text-align: center;
}

.big-button {
	background-color: #BDCBF9;
	border: 0.2em outset #5A7DF0;
	display: inline-block;
	font-family: Arial;
	font-size: 1em;
	padding: 0.25em;
	text-align: center;
	width: 7.5em;
}

.center {
	text-align: center;
}

.fill-width {
	width: 100%;
}

.order-delivery-box {
	border: 0.1em solid black;
	font-family: Arial;
	font-size: 1em;
}

.order-selection {
	float: left;
	font-family: Arial;
	width: 18em;
}

.order-selection img {
	vertical-align: middle;
}

.order-submission {
	float: left;
	font-family: Arial;
	text-align: right;
	width: 15em;
}

.resize-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
